.block {
  @apply flex items-center justify-center;

  .article {
    @apply text-center;

    .illustration {
      @apply mb-10;

      svg {
        @apply max-w-[300px] sm:max-w-sm w-full h-auto m-auto;
      }
    }

    .title {
      @apply text-lg sm:text-2xl font-bold;
    }

    .paragraph {
      @apply mt-2 mb-8 text-sm sm:text-base text-gray-400;
    }

    .button {
      @apply flex w-full justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white  hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2;
    }
  }
}
