.wrapper {
  @apply w-full bg-white rounded-lg p-2 pr-3 mb-2.5 last-of-type:mb-0;

  &:hover {
    .control {
      @apply flex;
    }
  }

  .content {
    @apply grid grid-cols-[32px_1fr_24px] gap-x-2 col-start-1 col-end-4 items-center;

    .info {
      @apply flex flex-col;

      .name {
        @apply text-base font-bold text-gray-600 leading-5 line-clamp-1;
      }

      .email {
        @apply text-xs font-light text-gray-400;
      }
    }
  }

  .admin {
    @apply fill-gray-600;
  }

  .control {
    @apply hidden;
  }
}
