.wrapper {
  @apply flex flex-col w-full min-w-[calc(100vw-8px)] sm:min-w-0  py-3 pl-4 border-gray-200 bg-background;

  @media (min-width: theme('screens.lg')) {
    @apply h-screen max-w-[325px] border-b-0 border-r;
  }

  @media (min-width: theme('screens.sm')) {
    @apply border-b;
  }

  .header {
    @apply mb-3 pr-4;

    .title {
      @apply text-3xl font-bold text-gray-800;
    }
  }

  .button {
    @apply mr-4
  }
}
