.link {
  @apply relative inline-flex items-center justify-center;

  .avatar {
    @apply flex items-center justify-center w-10 h-10 border border-gray-100 bg-gray-100 rounded-full overflow-hidden;
  }

  .avatarPlaceholder {
    @apply block font-medium text-lg text-gray-600;
  }

  .avatarImage {
    @apply block w-10 h-10 object-cover object-center;
  }

  .indicator {
    @apply absolute right-0 top-0 w-3 h-3 rounded-full bg-gray-200 border border-gray-200;
  }

  .online {
    @apply bg-green-600;
  }

  .offline {
    @apply bg-red-600;
  }

  .out {
    @apply bg-yellow-500;
  }

  &.small {
    .avatar {
      @apply w-7 h-7;
    }

    .avatarPlaceholder {
      @apply text-base;
    }

    .avatarImage {
      @apply w-7 h-7;
    }

    .indicator {
      @apply -right-0.5 top-0 w-2 h-2 border-none;
    }
  }

  &.little {
    .avatar {
      @apply w-6 h-6;
    }

    .avatarPlaceholder {
      @apply text-sm;
    }

    .avatarImage {
      @apply w-6 h-6;
    }

    .indicator {
      @apply -right-0.5 top-0 w-2 h-2 border-none;
    }
  }

  &.medium {
    .avatar {
      @apply w-16 h-16;
    }

    .avatarPlaceholder {
      @apply text-2xl;
    }

    .avatarImage {
      @apply w-16 h-16;
    }

    .indicator {
      @apply -right-0.5 top-0 w-2 h-2 border-none;
    }
  }

  &.big {
    .avatar {
      @apply w-32 h-32 bg-gray-200;
    }

    .avatarPlaceholder {
      @apply text-6xl;
    }

    .avatarImage {
      @apply w-32 h-32;
    }

    .indicator {
      @apply -right-0.5 top-0 w-2 h-2 border-none;
    }
  }
}
