.button {
  @apply p-1 rounded;

  &:hover {
    @apply bg-gray-200;
  }

  svg {
    @apply h-4 w-4 fill-gray-700;
  }

  &.danger {
    &:hover {
      @apply bg-red-500;

      svg {
        @apply fill-white;
      }
    }
  }

  &.like {
    svg {
      @apply fill-rose-600;
    }
  }
}
