.button {
  @apply flex pt-3 pb-4 px-3 border rounded-lg;

  &:hover {
    @apply shadow-lg;
  }

  &.active {
    @apply border-indigo-600 bg-indigo-600;

    .icon {
      svg {
        @apply fill-white;
      }
    }

    .content {
      .title {
        @apply text-white;
      }

      .description {
        @apply text-white;
      }
    }
  }

  .icon {
    @apply mr-2 mt-0.5;

    svg {
      @apply w-5 h-5 fill-gray-600;
    }
  }

  .content {
    .title {
      @apply text-base font-bold text-gray-600;
    }

    .description {
      @apply text-xs text-gray-400 line-clamp-3;
    }
  }
}
