.ck.ck-editor {
  @apply flex flex-col-reverse;

  .ck-toolbar {
    @apply border-t-0 border-b rounded-br-lg rounded-bl-lg #{!important};

    .ck-button {
      @apply cursor-pointer rounded;

      svg {
        @apply text-gray-600
      }

      &:focus,
      &:active {
        @apply outline-none shadow-none drop-shadow-none border-none;
      }

      &.ck-on {
        @apply bg-indigo-600;

        &:hover {
          @apply bg-indigo-700;
        }

        svg {
          @apply text-white;
        }
      }
    }
  }

  .ck-content {
    @apply max-h-[150px] mb-[-1px] text-gray-900 rounded-tr-lg rounded-tl-lg rounded-br-none rounded-bl-none border-b-0 scrollbar scrollbar-w-[6px] scrollbar-thumb-rounded-lg scrollbar-thumb-gray-300 hover:scrollbar-thumb-gray-400 scrollbar-track-transparent #{!important};

    &.ck-focused {
      @apply shadow-none drop-shadow-none border-gray-300 #{!important};
    }

    a {
      @apply text-indigo-700 underline;

      &:hover {
        @apply text-indigo-800;
      }
    }

    blockquote {
      @apply px-3;
    }
  }
}

.ck-wrapper {
  &.ck-focused {
    @apply rounded-lg shadow-none drop-shadow-none outline-none ring-2 ring-indigo-500 ring-offset-1 #{!important};

    .ck.ck-editor {
      .ck-content {
        @apply border-t-indigo-500 border-l-indigo-500 border-r-indigo-500 #{!important};
      }

      .ck-toolbar {
        @apply border-b-indigo-500 border-l-indigo-500 border-r-indigo-500 #{!important};
      }
    }
  }
}
