.wrapper {
  @apply hidden absolute z-10 top-0 left-0 w-full min-w-[calc(100vw-8px)] sm:min-w-0 h-screen overflow-y-auto py-3 px-4
  border-l border-gray-200 bg-background scrollbar scrollbar-w-[6px] scrollbar-thumb-rounded-lg scrollbar-thumb-gray-300
  hover:scrollbar-thumb-gray-400 scrollbar-track-transparent;

  @media (min-width: theme('screens.sm')) {
    @apply relative max-w-[325px];
  }

  &.active {
    @apply block;
  }

  .header {
    @apply flex items-start justify-between mb-5;

    .title {
      @apply text-xl font-semibold text-gray-800;
    }

    .button {
      @apply text-xl hover:text-indigo-700 cursor-pointer;
    }
  }

  .avatar {
    @apply flex justify-center mb-5;
  }

  .info {
    @apply flex flex-col justify-center text-center mb-5;

    .name {
      @apply text-xl font-medium text-gray-900;
    }

    .description {
      @apply text-sm text-gray-400;
    }
  }

  .controls {
    @apply flex items-center gap-3 mb-5;
  }

  .contacts {
    @apply border-t border-gray-200;

    .title {
      @apply text-sm font-medium text-gray-800 mt-4 mb-3;
    }

    .item {
      @apply flex items-center gap-3 mb-4;

      .icon {
        @apply p-2 rounded bg-gray-200 text-lg;
      }

      .text {
        @apply text-sm m-0 text-gray-500;
      }

      .itemInfo {
        .label {
          @apply text-xs leading-3 font-bold m-0 text-gray-800;
        }

        .link {
          @apply inline-block text-sm leading-3 m-0 text-indigo-600;

          &:hover {
            @apply text-indigo-700;
          }
        }

        .text {
          @apply inline-block text-sm leading-3 m-0 text-gray-500;
        }
      }
    }
  }
}
