.wrapper {
  @apply relative w-full;

  .field {
    @apply w-full py-2 pl-3 pr-2 rounded-lg border border-gray-200 resize-none outline-none;
  }

  .controls {
    @apply absolute bottom-1 right-2
  }

  .editMode {
    @apply mb-2 p-2 rounded-lg border text-sm text-gray-700;

    .header {
      @apply flex items-center gap-2 text-sm text-indigo-700 mb-1;

      .title {
        @apply flex-auto;
      }

      svg {
        @apply w-4 h-4 fill-indigo-700;
      }
    }
  }
}
