.wrapper {
  @apply sm:flex sm:items-start;

  .content {
    @apply mt-3 sm:mt-0 w-full text-center sm:text-left;

    .title {
      @apply text-lg font-medium leading-6 text-gray-900;
    }

    .note {
      @apply text-sm text-gray-500;
    }

    .form {
      .item {
        @apply mt-2;
      }

      .controls {
        @apply flex flex-col-reverse sm:flex-row gap-2 sm:gap-3 mt-4;
      }
    }
  }
}
