.wrapper {
  @apply w-full py-3 px-3;

  @media (min-width: theme('screens.lg')) {
    @apply h-screen overflow-y-auto scrollbar scrollbar-w-[6px] scrollbar-thumb-rounded-lg scrollbar-thumb-gray-300
    scrollbar-track-transparent hover:scrollbar-thumb-gray-400;
  }

  @media (min-width: theme('screens.sm')) {
    @apply px-4 py-3;
  }

  .header {
    @apply mb-5;

    .title {
      @apply text-3xl font-bold text-gray-800;
    }

    .description {
      @apply text-xs text-gray-400 line-clamp-3;
    }
  }
}
